@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

.ProseMirror{
    outline: none;
}

.contentview > img{
    display: block;
    width: 500px;
    margin: 20px auto;
}

.contentview > p{
    margin: 10px;
}